# Multi-Labeled Hate Speech and Abusive Indonesian Twitter Text

# About Dataset

The original author GitHub: https://github.com/okkyibrohim/id-multi-label-hate-speech-and-abusive-language-detection
I upload it to Kaggle because I'm using it for my undergraduate project here. All credit to the original author.

Preprocessing
The original author preprocess the data in 5 steps. Here's a kernel I make trying to replicate the preprocess steps done by the original author: https://www.kaggle.com/ilhamfp31/preprocessing-the-indonesian-hate-abusive-text/data

Citation
Cite the original author if you use the data:

Muhammad Okky Ibrohim and Indra Budi. 2019. Multi-label Hate Speech and Abusive Language Detection in Indonesian Twitter. In ALW3: 3rd Workshop on Abusive Language Online, 46-57. (Every paper template may have different citation writting. For LaTex user, you can see citation.bib).

# Importing Library

In [2]:
import pandas as pd #memanggil library pandas alias pd untuk mengatur tata letak data
import sqlite3 #memanggil lib sqlite untuk mengakses dan mengolah database

# Load Dataset from Kaggle

A. Pembacaan Dataset

In [ ]:
abusive = pd.read_csv("/content/abusive.csv")
abusive #menampilkan dataframe file csv

         ABUSIVE
0           alay
1          ampas
2           buta
3        keparat
4         anjing
..           ...
120        rezim
121        sange
122       serbet
123        sipit
124  transgender

[125 rows x 1 columns]

In [ ]:
print(abusive.info()) #Print a concise summary of a DataFrame.including the index dtype and columns, non-null values and memory usage
print('\n')
print(abusive.describe()) #mengetahui deskriptive statistic
print('\n')
print(abusive.isnull().sum()) #mengetahui apakah ada missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ABUSIVE  125 non-null    object
dtypes: object(1)
memory usage: 1.1+ KB
None


       ABUSIVE
count      125
unique     125
top       alay
freq         1


ABUSIVE    0
dtype: int64

In [ ]:
data = pd.read_csv('/content/data.csv', encoding='ISO-8859-1')
data.tail()

,Tweet,HS,Abusive,HS_Individual,HS_Group,HS_Religion,HS_Race,HS_Physical,HS_Gender,HS_Other,HS_Weak,HS_Moderate,HS_Strong
13164,USER jangan asal ngomong ndasmu. congor lu yg ...,1,1,1,0,0,0,1,0,0,1,0,0
13165,USER Kasur mana enak kunyuk',0,1,0,0,0,0,0,0,0,0,0,0
13166,USER Hati hati bisu :( .g\n\nlagi bosan huft \...,0,0,0,0,0,0,0,0,0,0,0,0
13167,USER USER USER USER Bom yang real mudah terdet...,0,0,0,0,0,0,0,0,0,0,0,0
13168,"USER Mana situ ngasih("": itu cuma foto ya kuti...",1,1,1,0,0,0,0,0,1,1,0,0

In [ ]:
print(data.info()) #Print a concise summary of a DataFrame.including the index dtype and columns, non-null values and memory usage
print('\n')
print(data.describe()) #mengetahui deskriptive statistic
print('\n')
print(data.isnull().sum()) #mengetahui apakah ada missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13169 entries, 0 to 13168
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tweet          13169 non-null  object
 1   HS             13169 non-null  int64
 2   Abusive        13169 non-null  int64
 3   HS_Individual  13169 non-null  int64
 4   HS_Group       13169 non-null  int64
 5   HS_Religion    13169 non-null  int64
 6   HS_Race        13169 non-null  int64
 7   HS_Physical    13169 non-null  int64
 8   HS_Gender      13169 non-null  int64
 9   HS_Other       13169 non-null  int64
 10  HS_Weak        13169 non-null  int64
 11  HS_Moderate    13169 non-null  int64
 12  HS_Strong      13169 non-null  int64
dtypes: int64(12), object(1)
memory usage: 1.3+ MB
None


                 HS       Abusive  HS_Individual      HS_Group   HS_Religion  \
count  13169.000000  13169.000000   13169.000000  13169.000000  13169.000000
mean       0.422280      0.382945       0.271471      0.150809      0.060217
std        0.493941      0.486123       0.444735      0.357876      0.237898
min        0.000000      0.000000       0.000000      0.000000      0.000000
25%        0.000000      0.000000       0.000000      0.000000      0.000000
50%        0.000000      0.000000       0.000000      0.000000      0.000000
75%        1.000000      1.000000       1.000000      0.000000      0.000000
max        1.000000      1.000000       1.000000      1.000000      1.000000

            HS_Race   HS_Physical     HS_Gender      HS_Other       HS_Weak  \
count  13169.000000  13169.000000  13169.000000  13169.000000  13169.000000
mean       0.042980      0.024527      0.023236      0.284000      0.256891
std        0.202819      0.154685      0.150659      0.450954      0.436935
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      1.000000      1.000000
max        1.000000      1.000000      1.000000      1.000000      1.000000

        HS_Moderate     HS_Strong
count  13169.000000  13169.000000
mean       0.129471      0.035918
std        0.335733      0.186092
min        0.000000      0.000000
25%        0.000000      0.000000
50%        0.000000      0.000000
75%        0.000000      0.000000
max        1.000000      1.000000


Tweet            0
HS               0
Abusive          0
HS_Individual    0
HS_Group         0
HS_Religion      0
HS_Race          0
HS_Physical      0
HS_Gender        0
HS_Other         0
HS_Weak          0
HS_Moderate      0
HS_Strong        0
dtype: int64

In [ ]:
kamus_alay = pd.read_csv('/content/new_kamusalay.csv', encoding='ISO-8859-1')
kamus_alay.head()

  anakjakartaasikasik anak jakarta asyik asyik
0        pakcikdahtua        pak cik sudah tua
1      pakcikmudalagi        pak cik muda lagi
2         t3tapjokowi             tetap jokowi
3                  3x                tiga kali
4              aamiin                     amin

In [ ]:
print(kamus_alay.info()) #Print a concise summary of a DataFrame.including the index dtype and columns, non-null values and memory usage
print('\n')
print(kamus_alay.describe()) #mengetahui deskriptive statistic
print('\n')
print(kamus_alay.isnull().sum()) #mengetahui apakah ada missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15166 entries, 0 to 15165
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   anakjakartaasikasik       15166 non-null  object
 1   anak jakarta asyik asyik  15166 non-null  object
dtypes: object(2)
memory usage: 237.1+ KB
None


       anakjakartaasikasik anak jakarta asyik asyik
count                15166                    15166
unique               15166                     8638
top           pakcikdahtua                     wkwk
freq                     1                      100


anakjakartaasikasik         0
anak jakarta asyik asyik    0
dtype: int64

# Load Data Output Challange New Tweet

In [4]:
df_output = pd.read_csv('output_filename.csv', encoding='iso-8859-1',header=0)
print(df_output)

       Unnamed: 0                                          old_tweet  \
0               0  - disaat semua cowok berusaha melacak perhatia...
1               1  RT USER: USER siapa yang telat ngasih tau elu?...
2               2  41. Kadang aku berfikir, kenapa aku tetap perc...
3               3  USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...
4               4  USER USER Kaum cebong kapir udah keliatan dong...
...           ...                                                ...
13164       13164  USER jangan asal ngomong ndasmu. congor lu yg ...
13165       13165                       USER Kasur mana enak kunyuk'
13166       13166  USER Hati hati bisu :( .g\n\nlagi bosan huft \...
13167       13167  USER USER USER USER Bom yang real mudah terdet...
13168       13168  USER Mana situ ngasih(": itu cuma foto ya kuti...

                                               new_tweet
0      di saatsemuacowokberusahamelacakperhatiangueka...
1      siapayangtelatmemberitaukamuedansarapguebergau...
2      41kadangakuberpikirkenapaakutetappercayapadatu...
3      akuituakudankutaumatamusipittapidilihatdariman...
4      kaumcebongkafirsudahkelihatandongoknyadariawal...
...                                                  ...
13164  janganasalberbicarandasmucongorkamuyangsekata ...
13165                                kasurmanaenakkunyuk
13166       hatihatibisutidakdanlagibosanduhxf0x9fx98xaa
13167  bomyangrealmudahterdeteksibomyangterkubursuatu...
13168              manasitumemberiitucumafotoyakutilonta

[13169 rows x 3 columns]

In [5]:
df_output.head()

,Unnamed: 0,old_tweet,new_tweet
0,0,- disaat semua cowok berusaha melacak perhatia...,di saatsemuacowokberusahamelacakperhatiangueka...
1,1,RT USER: USER siapa yang telat ngasih tau elu?...,siapayangtelatmemberitaukamuedansarapguebergau...
2,2,"41. Kadang aku berfikir, kenapa aku tetap perc...",41kadangakuberpikirkenapaakutetappercayapadatu...
3,3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,akuituakudankutaumatamusipittapidilihatdariman...
4,4,USER USER Kaum cebong kapir udah keliatan dong...,kaumcebongkafirsudahkelihatandongoknyadariawal...

# Cleansing Data (unnamed column)

In [6]:
df = df_output.loc[:, ~df_output.columns.str.contains('^Unnamed')]
df

,old_tweet,new_tweet
0,- disaat semua cowok berusaha melacak perhatia...,di saatsemuacowokberusahamelacakperhatiangueka...
1,RT USER: USER siapa yang telat ngasih tau elu?...,siapayangtelatmemberitaukamuedansarapguebergau...
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",41kadangakuberpikirkenapaakutetappercayapadatu...
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,akuituakudankutaumatamusipittapidilihatdariman...
4,USER USER Kaum cebong kapir udah keliatan dong...,kaumcebongkafirsudahkelihatandongoknyadariawal...
...,...,...
13164,USER jangan asal ngomong ndasmu. congor lu yg ...,janganasalberbicarandasmucongorkamuyangsekata ...
13165,USER Kasur mana enak kunyuk',kasurmanaenakkunyuk
13166,USER Hati hati bisu :( .g\n\nlagi bosan huft \...,hatihatibisutidakdanlagibosanduhxf0x9fx98xaa
13167,USER USER USER USER Bom yang real mudah terdet...,bomyangrealmudahterdeteksibomyangterkubursuatu...
13168,"USER Mana situ ngasih("": itu cuma foto ya kuti...",manasitumemberiitucumafotoyakutilonta

# Exporting Data Clean

In [7]:
df.to_csv('output_tweet_clean.csv')

# Creating Database using Sqlite

In [8]:
conn = sqlite3.connect('Tweet_cleaning.db') #Membuat file database 
cursor = conn.cursor()
print("Database created and Successfully Connected to SQLite")

sqlite_select_Query = "select sqlite_version();"
cursor.execute(sqlite_select_Query)
record = cursor.fetchall()
print("SQLite Database Version is: ", record)

cursor.close()

Database created and Successfully Connected to SQLite
SQLite Database Version is:  [('3.22.0',)]

In [9]:
create_sql = "CREATE TABLE IF NOT EXISTS testing(old_tweet TEXT, new_tweet TEXT)"
cursor = conn.cursor()
cursor.execute(create_sql)

In [10]:
for row in df.itertuples():
    cursor.execute('''
                INSERT INTO testing (old_tweet, new_tweet)
                VALUES (?,?)
                ''',
                (row.old_tweet, 
                row.new_tweet,
                ))
conn.commit()
conn.close()
print("The SQLite connection is closed")

The SQLite connection is closed